<div class="album py-5 bg-light">
  <div class="container">
    <div *ngIf="services" class="row">
      <div *ngFor="let service of services" class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img width="348px" height="232px" class="card-img-top" src="{{service.imagesUrls[0]}}">
          <div class="card-body">
            <p><strong>{{service.name}}</strong></p>
            <div class="d-flex justify-content-between">
              <p>Category <strong>{{service.category.name}}</strong></p>
              <div>
                <i class="bi bi-star-fill mr-1 text-warning"></i>
                <strong class="text-warning">{{service.reviewsAverage | number : '1.0-1'}}</strong> / <strong class="text-warning">{{service.reviewsNumbers}}</strong>
              </div>
            </div>
            <p class="card-text">{{service.shortDescription}}</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            <div class="d-flex justify-content-end">
              <button (click)="handleDeleteService(service.id)" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
