<div class="container mt-5">
  <div *ngIf="service" class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{service.name}}</h5>
        <div>
          <i class="bi bi-star-fill mr-1 text-warning"></i>
          <strong class="text-warning">{{service.reviewsAverage | number : '1.0-1'}}</strong> / <strong
          class="text-warning">{{service.reviewsNumbers}}</strong>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <img src="{{service.imagesUrls[0]}}" alt="{{service.name}}" width="500px" height="300px">
      </div>
      <p class="card-text">Category <strong>{{service.category.name}}</strong></p>
      <p class="card-text mt-2">{{service.shortDescription}}</p>
      <p class="card-text mt-2">{{service.longDescription}}</p>
      <h5 class="mb-3">Contact infos</h5>
      <p class="card-text">Email : {{service.contactEmail}}</p>
      <p class="card-text">Phone : {{service.contactPhone}}</p>
      <h4>Reviews</h4>
      <div
        *ngIf="stateService.authState.isAuthenticated && !didReview && this.stateService.authState.roles.includes('PERSONNEL')">
        <form [formGroup]="reviewForm" (ngSubmit)="handleAddReview()">
          <div class="mb-3">
            <select formControlName="grade" class="custom-select">
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
            </select>
          </div>
          <div class="mb-3">
            <textarea formControlName="comment" class="form-control"></textarea>
          </div>
          <div class="d-grid gap-2 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-sm">Add Review</button>
          </div>
        </form>
      </div>
      <div>
        <div *ngFor="let review of reviews">
          <div class="d-flex mt-3">
            <div class="mr-3">
              <img class="rounded-circle" width="75px" height="75px" src="https://icons.veryicon.com/png/o/miscellaneous/administration/account-25.png" alt="logo">
            </div>
            <div>
              <h6>{{review.personnelAccount.firstName}} {{review.personnelAccount.lastName}}</h6>
              <i *ngFor="let item of [].constructor(review.grade)" class="bi bi-star-fill mr-1 text-warning"></i>
              <p>{{review.comment}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
